[Desktop Entry]
Version=0.17.6
Name=Coinevo Core
Comment=Connect to the Evo P2P Network
Exec=evo-qt %u
Terminal=false
Type=Application
Icon=qtum128
MimeType=x-scheme-handler/qtum;
Categories=Network;
StartupWMClass=Evo-qt
Name[en_US]=evo-qt
