[Desktop Entry]
Version=0.17.6
Name=Coinevo Core Testnet
Comment=Connect to the Coinevo P2P Network Testnet
Exec=evo-qt -testnet %u
Terminal=false
Type=Application
Icon=qtumtestnet128
MimeType=x-scheme-handler/qtum;
Categories=Network;
StartupWMClass=Evo-qt-testnet
Name[en_US]=evo-qt-testnet
